# .NET Core build folders
/bin
/obj

# VS Code
.vscode

# FMS API keys cannot be redistributed
FRC_API_KEY

# Year file is used to download avatars for
# previous years
YEAR

# Outputs of the program
avatars.json
avatars.png